<!doctype html>
<html lang="en">

<head>
    <title>Unpaid overtime</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-cleave-component@2"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@423&display=swap"
        rel="stylesheet">
    <link href="./assets/css/styles.css" rel="stylesheet">
</head>


<body>
    <section id="app" class="min-vh-100 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center p-5">
                    <i class="fas fa-toggle-on mb-2"></i>

                    <h1 class="text-white mb-5">You have the right to switch off.</h1>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="text-white">Do you work part-time or full-time? <span>*</span></label>
                            <br>

                            <div class="toggle">
                                <input v-model="fulltime" @click="fulltime = true, parttime = false" type="radio"
                                    name="sizeBy" value="weight" id="sizeWeight" checked="checked" />
                                <label for="sizeWeight">Full-time</label>
                                <input v-model="parttime" @click="parttime = true, fulltime = false" type="radio"
                                    name="sizeBy" value="dimensions" id="sizeDimensions" />
                                <label for="sizeDimensions">Part-time</label>
                            </div>

                        </div>
                    </div>
                    <div id="app" v-if="fulltime">

                        <form v-on:submit.prevent="submitForm">
                            <label class="text-white">Email address <span>*</span>&nbsp;</label>
                            <input type="email" placeholder="yourname@email.com" class="form-control mb-3"
                                name="email_address" id="email" v-model="email" />

                            <div class="row">
                                <div class="col">
                                    <label class="text-white" for="start">Start Time: </label>
                                    <select v-model="start" class="form-control">
                                        <option :value="this.selectedTemplate" disabled hidden>Start Time</option>
                                        <option v-for="time_option in time_options" :key="time_option">
                                            {{ time_option }}
                                        </option>
                                    </select>

                                </div>
                                <div class="col">
                                    <label class="text-white" for="start">Finish Time: </label>
                                    <select v-model="finish" class="form-control">
                                        <option :value="this.selectedTemplate" disabled hidden>Finish Time</option>
                                        <option v-for="time_option in time_options" :key="time_option">
                                            {{ time_option }}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <label class="text-white mt-3">What is your gross salary? <span>*</span>&nbsp;</label>
                            <cleave :options="dollar_options" class="form-control mb-3" v-model="salary_unformatted"
                                required></cleave>


                            <label class="text-white">Do you usually take a lunch break? <span>*</span>&nbsp;</label>
                            <br>



                            <div class="form-check form-check-inline">
                                <input v-model="yeslunch" class="form-check-input" type="radio"
                                    name="inlineRadioOptions" checked="checked" id="inlineRadio1" value="yeslunch">
                                <label class="text-white form-check-label" for="inlineRadio1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="nolunch" class="form-check-input" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio2" value="nolunch">
                                <label class="text-white form-check-label" for="inlineRadio2">No</label>
                            </div>

                            <br>
                            <label class="text-white mt-3">How many minutes do you spend each day outside of
                                work messaging, emailing and answering
                                phone
                                calls?</label>

                            <div class="toggle2">
                                <input v-model="fifteenmin" type="radio" name="extraTime" id="15" value="15" />
                                <label for="15">15</label>

                                <input v-model="thirtymin" type="radio" name="extraTime" id="30" value="30" />
                                <label for="30">30</label>

                                <input v-model="fortyfivemin" type="radio" name="extraTime" id="45" value="45" />
                                <label for="45">45</label>

                                <input v-model="sixtymin" type="radio" name="extraTime" id="60" value="60" />
                                <label for="60">60+</label>
                            </div>


                            <button type="submit" id="custom_submit" value="Submit" class="btn btn-danger mt-3"
                                v-html="button_text"></button>


                            <div class="mt-3" id="result"></div>
                            <div id="success"></div>

                        </form>
                        <div v-if="calculated == true">
                            <div class="text-center col-md-12">
                                <h3 class="text-center text-white mt-3">If you did this much overtime, every day, for
                                    one
                                    year you would have been underpaid:
                                    <br>
                                    <span
                                        class="red">{{overtimeEachYear(startTime, finishTime, lunchOrNot, extraTime, dailySalary)}}</span>

                                    hours of overtime
                                </h3>


                            </div>
                        </div>
                    </div>

                    <div id="app2" v-if="parttime">
                        <form v-on:submit.prevent="submitForm">
                            <label class="text-white">Email address <span>*</span>&nbsp;</label>
                            <input type="email" placeholder="yourname@email.com" class="form-control mb-3"
                                name="email_address" id="email" v-model="email" />
                            <div class="row">

                                <div class="col">
                                    <label class="text-white">Paid weekly hours<span>*</span></label>
                                    <input type="text" placeholder="15" class="form-control mb-3" name="actual hours"
                                        id="" v-model="paidHours" />
                                </div>
                                <div class="col">
                                    <label class="text-white">Actual weekly hours<span>*</span></label>
                                    <input type="text" placeholder="20" class="form-control mb-3" name="actual hours"
                                        id="" v-model="actualHours" />
                                </div>


                            </div>

                            <!-- <label class="text-white"># days worked per week<span>*</span></label>
                            <input type="text" placeholder="3" class="form-control mb-3" name="actual hours" id=""
                                v-model="daysWorked" /> -->

                            <label class="text-white mt-3">What is your gross salary? <span>*</span>&nbsp;</label>
                            <cleave :options="dollar_options" class="form-control mb-3" v-model="salary_unformatted"
                                required></cleave>

                            <!-- 
                            <label class="text-white">Do you usually take a lunch break?
                                <span>*</span>&nbsp;</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input v-model="yeslunch" class="form-check-input" type="radio"
                                    name="inlineRadioOptions" id="inlineRadio1" value="yeslunch">
                                <label class="text-white form-check-label" checked="checked"
                                    for="inlineRadio1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="nolunch" class="form-check-input" type="radio" name="inlineRadioOptions"
                                    id="inlineRadio2" value="nolunch">
                                <label class="text-white form-check-label" for="inlineRadio2">No</label>
                            </div> -->

                            <label class="text-white mt-3">How many minutes do you spend each day outside of
                                work messaging, emailing and answering
                                phone
                                calls?</label>

                            <div class="toggle2">
                                <input v-model="fifteenmin" type="radio" name="extraTime" id="15" value="15" />
                                <label for="15">15</label>

                                <input v-model="thirtymin" type="radio" name="extraTime" id="30" value="30" />
                                <label for="30">30</label>

                                <input v-model="fortyfivemin" type="radio" name="extraTime" id="45" value="45" />
                                <label for="45">45</label>

                                <input v-model="sixtymin" type="radio" name="extraTime" id="60" value="60" />
                                <label for="60">60+</label>
                            </div>


                            <br>

                            <button type="submit" id="custom_submit" value="Submit" class="btn btn-danger mt-3"
                                v-html="button_text"></button>


                            <div class="mt-3" id="result"></div>
                            <div id="success"></div>

                        </form>

                        <div v-if="calculated == true">
                            <div class="text-center col-md-12">
                                <h3 class="text-center text-white mt-3">
                                    <span class="red"> {{ partTime(extraTime, lunchOrNot, weeklySalaryPart) }}</span>
                                </h3>

                            </div>
                        </div>

                    </div>
                    <div id="footer" class="text-center col-md-12">
                        <h5 class="text-center mt-5">* Some disclaimer about this being an estimate based on your
                            inputs
                        </h5>
                    </div>



                </div>


            </div>

    </section>



    <script src="./assets/js/script2.js"></script>
    <!-- <script src="./assets/js/script3.js"></script> -->



</body>

</html>