#success {
    color: white;
}

.red {
    color: #d9534f;

}

::placeholder {

    color: rgb(180, 180, 180) !important;
}

.fas {
    color: #d9534f;
    font-size: 50px;
}

.danger {
    color: #d9534f;
}

#result {
    color: #d9534f;
    font-size: 25px;
}


h5 {
    color: white;
    font-size: 15px;
    font-weight: 200;
}


h3 {

    line-height: 1.5;
}


@media screen and (max-width: 766px) {
 
    h1 {
        font-size: 30px;
    }
    
    #footer {
        margin-bottom: 20px;
    }

}
  